<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style2.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
    <script src="static/js/valid.js" type="text/javascript"></script>
    
  <!--Icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">

  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">


  
  <!-- for add button sama-->



</head>

<body class="mainpage">
    <nav>
        <a href="{{ url_for('mainpage') }}" class="brandy">
         <img id="img1log" src="static\img\Untitled 5.png" width="100px">
         <img id="logoimg" src="static\img\logowhite.png" width="40px">
        </a>
        <ul>

    
        
      </li>
      
            <li><a href="{{ url_for('mainpage') }}">Home</a></li>
            <li><a href="{{ url_for('recording') }}">Recordings</a></li>
            
            <!-- Example single danger button -->
      <div class="btn-group">
        <li class="item">
            <i  aria-hidden="true"></i> <span class="btn__badge pulse-button ">!</span> 
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Warning!
        </button>
        
        <div class="dropdown-menu">
          {% for notifications in notification %}
          <a class="dropdown-item" href="#">{{notifications.massage}}</a>
          
          {% endfor %}
        </div>
      
      </div>
            <li><a href="{{ url_for('myprofile') }}" > <i class="fa-solid fa-gear" id="iconz" ></i> </a>
            
          
                  
        </ul>
    </nav>


 
    
   
    <div class="banneridk">

  

   <script >
          window.onscroll = () => {
            var nav  = document.querySelector('nav');
            
            if (window.pageYOffset > 0) {
                nav.classList.add("sticky")
            } 
            else {
                nav.classList.remove("sticky");
            }
        }



     </script>
    </div>

    <body>



        {% block body %}
               
       
        {% endblock body %}

    <!--Javascript-->
    <!--Javascript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
        </body>
      




        
        <div class="footer">
            <div class="footer__addr">
              <img class="footerimg" src="static\img\Untitled 5.png" width=60px>
              <img class="footerlogo" src="static\img\logowhite.png" width=150px>
            </div>
  
            <address>
              5534 Jeddah, Saudi Arabia<br>
            </address>
      
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title"><strong>Contact Us</strong></h2>
      
                <ul class="nav__ul">
                  <li>
                    <a><strong>Email:</strong> 0126633@uj.edu.sa</a>
                  </li>
      
                  <li>
                    <a><strong>Phone:</strong> 0555511000</a>
                  </li>
                </ul>
              </li>
      
              <li class="nav__item nav__item--extra">
                <h2 class="nav__title"><strong>Technology</strong></h2>
      
                <ul class="nav__ul nav__ul--extra">
                  <li>
                    <a href="#">Computer Vision</a>
                  </li>
      
                  <li>
                    <a href="#">Deep Learning</a>
                  </li>
      
                  <li>
                    <a href="#">Machine Learning</a>
                  </li>
                </ul>
              </li>
      
              <li class="nav__item">
                <h2 class="nav__title"><strong>Legal</strong></h2>
      
                <ul class="nav__ul">
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
      
                  <li>
                    <a href="#">Terms of Use</a>
                  </li>
                </ul>
              </li>
            </ul>
      
            <div class="legal">
              <p>&copy; Copyright <strong><span>AstorX team</span></strong>. All Rights Reserved</p>
            </div>
          </div>
        
  </body>
  </html>